  <section class="omg_component project-1">
   
      <div class="masonry-container">
        <!-- <begin masonry-container container> -->

        <div class="masonry_item col-md-4 col-sm-4">
          <div class="placeholder">
            <img alt="image" src="img/works/01.jpg">

            <div class="txt-placeholder overlay">
              <div class="v-align">
                <a class="h-align">
                  <p class="hero-subtitle color-primary">subtitle</p>

                  <p class="hero-title">Showcase</p>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="masonry_item col-md-4 col-sm-4">
          <div class="placeholder">
            <img alt="image" src="img/works/02.jpg">

            <div class="txt-placeholder overlay">
              <div class="v-align">
                <a class="h-align">
                  <p class="hero-subtitle color-primary">subtitle</p>

                  <p class="hero-title">Showcase</p>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="masonry_item col-md-4 col-sm-4">
          <div class="placeholder">
            <img alt="image" src="img/works/03.jpg">

            <div class="txt-placeholder overlay">
              <div class="v-align">
                <a class="h-align">
                  <p class="hero-subtitle color-primary">subtitle</p>

                  <p class="hero-title">Showcase</p>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="masonry_item col-md-4 col-sm-4">
          <div class="placeholder">
            <img alt="image" src="img/works/04.jpg">

            <div class="txt-placeholder overlay">
              <div class="v-align">
                <a class="h-align">
                  <p class="hero-subtitle color-primary">subtitle</p>

                  <p class="hero-title">Showcase</p>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="masonry_item col-md-4 col-sm-4">
          <div class="placeholder">
            <img alt="image" src="img/works/05.jpg">

            <div class="txt-placeholder overlay">
              <div class="v-align">
                <a class="h-align">
                  <p class="hero-subtitle color-primary">subtitle</p>

                  <p class="hero-title">Showcase</p>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="masonry_item col-md-4 col-sm-4">
          <div class="placeholder">
            <img alt="image" src="img/works/06.jpg">

            <div class="txt-placeholder overlay">
              <div class="v-align">
                <a class="h-align">
                  <p class="hero-subtitle color-primary">subtitle</p>

                  <p class="hero-title">Showcase</p>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="masonry_item col-md-4 col-sm-4">
          <div class="placeholder">
            <img alt="image" src="img/works/07.jpg">

            <div class="txt-placeholder overlay">
              <div class="v-align">
                <a class="h-align">
                  <p class="hero-subtitle color-primary">subtitle</p>

                  <p class="hero-title">Showcase</p>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="masonry_item col-md-4 col-sm-4">
          <div class="placeholder">
            <img alt="image" src="img/works/08.jpg">

            <div class="txt-placeholder overlay">
              <div class="v-align">
                <a class="h-align">
                  <p class="hero-subtitle color-primary">subtitle</p>

                  <p class="hero-title">Showcase</p>
                </a>
              </div>
            </div>
          </div>
        </div>
        
      </div>
<!-- <end masonry-container container> -->
  
  </section>